<div class="row">
    <div class="col-9">
        <table class="table table-striped table-hover mt-5">
        <thead class="table-dark">
            <tr>
             
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% @my_friends.each do |friend| %>
            <tr>
             
                <td><%= friend.email %></td>
                <td><%= friend.first_name %></td>
                <td><%= friend.last_name %></td>
                <td><%= link_to "stop following", friendship_path(friend), method: :delete,
                        data: {confirm: "do you want to unfollow #{friend.full_name}"},
                        class: "btn btn-sm btn-danger" %> 
                    <%= link_to "view profile",  user_path(friend),
                                            class: "btn btn-sm btn-primary" %>
                </td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>